doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title DMK

		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/style.css')

	body
		
		include includes/header

		.main-slider
			.main-slider__wrapper
				.main-slider__slide
					img(src="img/main-slider/Slide-1.png")
					.container
						.main-slider__text 
							.main-slider__title ДМК
							.main-slider__desc Дальневосточная Металлургическая Компания
							.main-slider__slogan Это <span>надежно</span>

						.main-slider__price
							.main-slider__price-title Наш прайс-лист
							a.main-slider__price-link(href="#") Скачать




					.main-slider__footer
						.container
							.main-slider__footer-text
								.main-slider__attention Внимание!
								.main-slider__footer-desc При оформление заказа через сайт действует система дополнительных скидок!<br>Оформляйте заказ и уточняйте свою скидку у менеджера!

							form.call-back
								.call-back__title Отправить заявку
								.call-back__row
									input.call-back__input(type="text", placeholder="Имя...")
								.call-back__row
									input.call-back__input(type="text", name="phone", placeholder="Телефон...")
									input.call-back__input(type="text", placeholder="E-mail...")
								.call-back__row
									textarea.call-back__text(placeholder="Заявка на продукцию...")
								.call-back__row
									input.call-back__submit(type="submit")

		.content
			.container
				.feature
					.feature__title 12 лет на рынке
					.feature__text Наше предприятие является одним из крупнейших в Хабаровском крае по поставкам труб, металлопроката и метизной продукции. Сегодня мы имеем возможность доставлять своим клиентам десятки тысячи тонн металлопродукции ежемесячно.

				.description
					h3 Дальневосточная Металлургическая Компания - в тройке лучших региональных компаний Дальневосточного федерального округа за 1-е полугодие 2013 года

			.grey-block
				.container
					.grey-block__wrapper
						.grey-block__item
							.grey-block__title ДАЛЬНЕВОСТОЧНАЯ МЕТАЛЛУРГИЧЕСКАЯ КОМПАНИЯ - ОФИЦИАЛЬНЫЙ ДИЛЕР ОАО "ЧЕЛЯБИНСКИЙ ТРУБОПРОКАТНЫЙ ЗАВОД" И ОАО "ПЕРВОУРАЛЬСКИЙ НОВОТРУБНЫЙ ЗАВОД" НА 2016Г.
							p По результатам работы в 2015г., руководством ОАО "ЧТПЗ" и ОАО "ПНТЗ" было принято решение продлить на очередной год полномочия единственного официального дилера по Дальневосточному Федеральному округу ООО "ДМК-Снаб, в очередной раз подтвердившее свое право представлять всю линейку продукции компаний на Российском рынке.	
							p Как всегда основными критериями отбора дилеров были: надежность, стабильность закупок, платежеспособность, соответствие генеральной стратегии компании по продвижению продукции.
						.grey-block__item
							.grey-block__image
								img(src="")

		.container
			.providers
				.providers__title Наши поставщики:
				.providers__wrapper
					.providers__item
						img(src="")
					.providers__item
						img(src="")
					.providers__item
						img(src="")
					.providers__item
						img(src="")
					.providers__item
						img(src="")

		include includes/footer

		script(src="js/jquery-2.2.0.js")
		script(src="js/script.js")

