doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title DMK

		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/style.css')

	body
		
		include includes/header

		section.main-section
			.container
				ul.breadcrumbs
					li.breadcrumbs__item
						a(href="#") Главная
					li.breadcrumbs__item Продукция

				.wrapper
					aside.aside
						ul.catalog
							li.catalog__item
								a.catalog__link(href="#") Сортовой прокат
									span.catalog__vertical
									span.catalog__horizontal
								ul.catalog__sublist
									li.catalog__subitem.active
										a.catalog__sublink(href="#") Товар 1
									li.catalog__subitem
										a.catalog__sublink(href="#") Товар 2
									li.catalog__subitem
										a.catalog__sublink(href="#") Товар 3
									li.catalog__subitem
										a.catalog__sublink(href="#") Товар 4
									li.catalog__subitem
										a.catalog__sublink(href="#") Товар 5
									li.catalog__subitem
										a.catalog__sublink(href="#") Товар 6
							li.catalog__item
								a.catalog__link(href="#") Трубная продукция, отводы
									span.catalog__vertical
									span.catalog__horizontal
							li.catalog__item
								a.catalog__link(href="#") Метизная продукция
									span.catalog__vertical
									span.catalog__horizontal
							li.catalog__item
								a.catalog__link(href="#") Электроды
									span.catalog__vertical
									span.catalog__horizontal

					.content
						.content__block
							.page-title Дальневосточная металлургическая компания готова выполнить любой заказ на поставку металлопродукции, независимо от сложности, комплектации, объёмов и региона поставки.
							.price.price--content
								a.price-link(href="#") Прайс-лист
						.tabs
							ul.tabs__list
								li.tabs__item Цена
								li.tabs__item Характеристики
								li.tabs__item У вас есть заявка?

							.tabs__content 
								table
									tr
										th Сорт / Типоразмер
										th Цена с НДС по рассрочке
										th Цена с НДС от 1-5т.
										th Цена с НДС от 5т.
										th Цена за шт.
									tr
										td 6 мм
										td 51 900р.
										td 44 800р.
										td 43 900р.
										td 62 р.
									tr
										td 8 мм
										td 54 300р.
										td 46 900р.
										td 45 100р.
										td 64 р.

							.tabs__content
								table
									tr
										th Сорт / Типоразмер
										th Раскрой, м
										th Теоретический вес
									tr
										td 6 мм
										td бухта
										td 0,222
									tr
										td 8 мм
										td 6 / 11.7
										td 0,348
									tr
										td 10 мм
										td 11.7
										td 1,63
									tr
										td 12 мм
										td бухта
										td 2,8
									tr
										td 14 мм
										td 13.1
										td 3,6

							.tabs__content
								form.form-order
									.form-order__row
										label.form-order__label Ваше имя:
										input.form-order__input(type="text")
									.form-order__row
										label.form-order__label E-mail:
										input.form-order__input(type="text")
									.form-order__row
										label.form-order__label Телефон:
										input.form-order__input(type="text")
									.form-order__row
										label.form-order__label Описание заказа:
										textarea.form-order__textarea
									.form-order__row
										input.form-order__submit(type="submit")

						h4 Какую Вы можете купить арматуру?
						p Железобетонная конструкция должна включать в себя разные типы металлопроката. Например, арматура Хабаровск бывает:
						p 1. Рабочей или монтажной. Рабочая предназначена для защиты конструкции от внешних нагрузок или деформации под собственным весом. Диаметр сечения таких стержней требует тщательных вычислений, зависящих от предстоящих нагрузок. По типу укладки рабочая арматура существует продольная и поперечная. Вы можете купить арматуру продольного типа для укладки ее параллельно граням постройки, а также приобрести изделия поперечного типа для размещения их перпендикулярно продольным. Количество необходимого вам металлопроката будет зависеть от площади сечения самих стержней и бетонных поверхностей. В отличие от рабочей, монтажная продукция не требует сложных вычислений, так как монтажная арматура Хабаровск необходима для укрепления рабочих стержней и равномерного распределения чрезмерной нагрузки между ними.
						p 2. С гладким или периодическим профилем. Гладкие изделия характеризуются ровной, равномерной поверхностью, а периодический профиль подразумевает наличие выступов, произвольных вмятин, ребер и прочих неровностей. Вы можете купить арматуру в Хабаровске с периодическим профилем для лучшего сцепления металлических прутьев с застывающей бетонной массой.Фотография арматуры
						p 3. Горячекатаная стержневая или холоднокатаная проволочная. Эта классификация зависит от метода изготовления продукции. При производстве горячекатаных стержневых изделий применяется технология проката. В случае же выпуска холоднокатаных проволочных стержней используется методика холодного вытягивания прокатных изделий. Такая методика изготовления арматуры в Хабаровске подразумевает эксплуатацию специального оборудования с системой отверстий, через которые и протягиваются стержни. При этом череда отверстий в системе отличается друг от друга размером по убывающей (каждое следующее меньше по размеру, чем предыдущее). Подобная технология позволяет изменить структуру стали и получить на выходе тонкий, но очень прочный стержень, устойчивый к разрыву.
						p Цена арматуры зависит от ее типа и технических характеристик. Поэтому воспользуйтесь рекомендациями инженеров компании, которые посоветуют вам оптимальную продукцию для возведения вашей постройки или создания трубопровода (ее можно использовать вместо запорного механизма или же монтировать с ее помощью регулирующие устройства для потоков сред в трубопроводе).

						h4 Где можно выгодно купить арматуру в Хабаровске?
						p ООО «Дальневосточная Металлургическая Компания» предлагает самые выгодные условия сотрудничества, включающие:Фотография арматуры оптом
						ul
							li оптовые цены — если вам нужна арматура цена ее не будет зависеть от количества покупаемого товара (мы сами устанавливаем цену на   свою продукцию и не зависим от посредников);
							li гибкую систему скидок;
							li несколько удобных способов проведения расчетов;
							li качественное, оперативное обслуживание;
							li постоянное наличие больших партий товара на складах (если вы решите купить арматуру, вам не придется ожидать ее изготовления);
							li наличие корпоративного автопарка, а также возможность доставки товара поездом или речным транспортом).
						p В Хабаровске арматуру можно купить по самым выгодным расценкам. Для этого достаточно позвонить по телефону 57-40-46 или 45-99-45 (код 4212) и получить информацию об особенностях выбора товара, его доставке и прочих условиях сделки.


		include includes/footer

		script(src="js/jquery-2.2.0.js")
		script(src="js/script.js")