footer.footer
	.container
		.footer__wrapper
			.footer__block
				a.footer__logo(href="#")
					.footer__logo-image
						img(src="")
					.footer__logo-text ДМК

				.footer__text Мы готовы предложить любому предприятию весь накопленный нами потенциал, в части, своевременного обеспечения потребности в металлопродукции, как транзитными поставками так и комплектования сборных грузов с наших баз.
				a.footer__email(href="mailto:dmk@mail.redcom.ru") dmk@mail.redcom.ru
			.footer__block
				.footer__title Продукция
				ul.footer__menu
					li.footer__item
						a.footer__link(href="#") Сортовой прокат
					li.footer__item
						a.footer__link(href="#") Трубы, отводы
					li.footer__item
						a.footer__link(href="#") Метизы
					li.footer__item
						a.footer__link(href="#") Электроды
			.footer__block
				.footer__title О нас
				ul.footer__menu
					li.footer__item
						a.footer__link(href="#") Контакты
					li.footer__item
						a.footer__link(href="#") О компании
					li.footer__item
						a.footer__link(href="#") Поставщики
					li.footer__item
						a.footer__link(href="#") Доставка и оплата
			.footer__block
				.footer__title Контакты
				.footer__adress г. Хабаровск
				.footer__phone +7 (4212) <span>45-99-45, 45-99-46</span>
				.footer__adress г. Советская Гавань
				.footer__phone +7 (42138) <span>6-06-26</span>
		.footer__wrapper.footer__wrapper--bottom
			.footer__copyright DMK.SU © 2013 - 2016
			.footer__developer Разработка и поддержка 
				a(href="#") ITB-company