header.header
	.container
		.header__wrapper
			a.header__logo(href="#")
				img(src="img/logo.png")

			.header__block
				.header__contacts
					.header__title г. Хабаровск
					.header__text +7(4212) <span>45-99-45</span>
				.header__contacts
					.header__title г. Советская Гавань
					.header__text +7(42138) <span>6-06-26</span>
				.header__contacts
					.header__title Почта
					.header__text <span>dmk@mail.redcom.ru</span>

.nav
	.container
		.nav__block
			button.nav__burger
				span.nav__burger-top
				span.nav__burger-center
				span.nav__burger-bottom
					
		ul.nav__list
			li.nav__item
				a.nav__link(href="index.html") Главная
			li.nav__item
				a.nav__link(href="production.html") Продукция
			li.nav__item
				a.nav__link(href="#") Услуги
			li.nav__item
				a.nav__link(href="#") О компании
			li.nav__item
				a.nav__link(href="#") Контакты