.call-back {
	width: 365px;
	box-sizing: border-box;

	background: rgba(55, 78, 114, 0.98);

	padding: 40px 30px 30px 30px;

	position: absolute;
	right: 15px;
	bottom: -255px;

	z-index: 1;

	@media @medium {
		width: 365px;
		bottom: -255px;
	}

	@media @small {
		width: 305px;
		bottom: -400px;
	}

	&__title {
		font-family: @fregular;
		font-size: 30px;
		color: #ffffff;
		text-transform: uppercase;
		text-align: center;

		padding: 0 50px;
		margin-bottom: 40px;

		@media @medium {
			font-size: 30px;
			margin-bottom: 40px;
			padding: 0 50px;
		}

		@media @small {
			font-size: 24px;
			margin-bottom: 15px;
			padding: 0;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__input,
	&__text {
		width: 100%;
		box-sizing: border-box;

		border: 1px solid rgba(229, 229, 229, 0.6);
		border-radius: 2px;
		background: transparent;

		color: #8c8f94;

		padding: 14px;

		@media @medium {
			padding: 14px;
		}

		@media @small {
			padding: 10px;
		}
	}

	&__text {
		resize: none;
		height: 100px;
	}

	&__input[name="phone"] {
		margin-right: 15px;
	}

	&__submit {
	    width: 100%;
	    height: 50px;

	    font-family: @fmedium;
	    font-size: 18px;
	    text-transform: uppercase;
	    color: #624335;

	    border-radius: 2px;
	    border: none;
	    background: #ecd7ac;

	    margin-top: 10px;

		@media @medium {
			height: 50px;
		}

	    @media @small {
	    	height: 40px;
	    }
	}

}